.navbar,
.navbar-brand {
  gap: 20px;
  color: #344563;
}

ul {
  gap: 12px;
  list-style-type: none;
  color: gray;
}

.primary-content {
  padding: 160px 0;
}

a {
  color: gray;
  font-size: large;
}

.bg-image {
  min-height: 100vh;
  background-image: url(images/Header-llustration-desktop.svg); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
}

.project-card {
  width: 369px;
  height: 474px;
  background-image: url(images/Img-Placeholder.png);
}

.works {
  padding: 80px 0;
}